extends layout.pug

block header
  div(class="header")
    h1 Egill Ian Guðmundsson
    h2 Hugbúnaðarverkfræðinemi
    nav Navbar with some links

block content
  div(class="mainContainer")
    div(class="contact")
      h3 Upplýsingar
      p Kennitala: 260693-2639
      p Heimili: Hringbraut 69, Reykjavík 101
      p Sími: 899-3988
      p Netfang: egill.ian1@gmail.com
      p GitHub: egillian1

    div(class="info")
      h3 Menntun
      div(class="infoRow")
        div(class="year") Frá 2014
        div(class="infoEntry")
          h4 Háskóli Íslands
          div Hugbúnaðarverkfræði
          p Er að klára seinasta misserið í B.S. námi.
          | Áætluð útskrift: Vor 2017

      div(class="infoRow")
        div(class="year") 2009 - 2014
        div(class="infoEntry")
          h4 Menntaskólinn í Reykjavík
          div Náttúrufræði I
          p Stúdent

      div(class="infoRow")
        div(class="year") 2011
        div(class="infoEntry")
          h4 Colegio Bilingue de Palmares
          div Skiptinemi
          p Heils árs dvöl á vegum AFS í Costa Rica

      h3 Starfsreynsla

      div(class="infoRow")
        div(class="year") Vor 2017
        div(class="infoEntry")
          h4 Háskóli Íslands
          div Aðstoðarkennari
          p Aðstoð í námskeiðinu Þróun Hugbúnaðar undir
          | leiðsögn Matthias Book

      div(class="infoRow")
        div(class="year") Haust 2016
        div(class="infoEntry")
          h4 Háskóli Íslands
          div Aðstoðarkennari
          p Aðstoð í námskeiðinu Vefforritun undir
          | leiðsögn Ólafs Sverris Kjartanssonar

      div(class="infoRow")
        div(class="year") Sumar 2015
        div(class="infoEntry")
          h4 From Iceland
          div Ferðamálaráðgjafi
          p bókun og skipulagning ferða og gagna

      div(class="infoRow")
        div(class="year") Sumar 2014 2013
        div(class="infoEntry")
          h4 Icelandair Marina Slippbarinn
          div Þjónn í sal
          p Sinnti morgun-, kvöld- og helgarvöktum

      div(class="infoRow")
        div(class="year") Sumar 2012
        div(class="infoEntry")
          h4 Íslenski Barinn
          div Þjónn í sal og barþjónn
          p Almenn störf, skipulagning á móttöku stórra hópa

      div(class="infoRow")
        div(class="year") Vetur 2011
        div(class="infoEntry")
          h4 Ministerio de Salud de Costa Rica
          div Gagnavinnsla
          p Skráning og úrvinnsla gagna hjá Heilbrigðisráðuneyti
          | Costa Rica

      div(class="infoRow")
        div(class="year") Sumar 2007 - 2009
        div(class="infoEntry")
          h4 Vinnuskóli Reykjavíkur
          div Málningar- og garðvinna
